<div class="container" id="footercontain">
    <footer class= "footer">
        <small>
           Created by Addison Hoff, 2018
        </small>
        <nav>
            <ul>
                <li><%= link_to "About", about_path%></li>
            </ul>
        </nav>
    </footer>
</div>